# deep conmech
psutil==5.9.0
pandas==1.4.1

flax==0.6.3

torch==1.11.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.14
torch-cluster==1.6.0
torch-spline-conv==1.2.1
tensorboard==2.8.0

# TF dataset saving
#tensorflow>=2.8.0
