# deep conmech
psutil==5.9.0

flax==0.6.0

torch==1.11
torch-geometric==2.2.0
torch-scatter==2.1.0
torch-sparse==0.6.15
torch-cluster==1.6.0
torch-spline-conv==1.2.1

tensorflow==2.10.0

tensorboard==2.10.0
netron==6.3.7
