name: Code Quality

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Installing dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black==22.3.0 pylint==2.13.5
      - name: Checking code quality
        run: |
          black --line-length 100 --target-version py37 --diff --check $(git ls-files '*.py')
          PYTHONPATH=. pylint --argument-rgx='[a-z_][a-z0-9_]{1,30}$|[xyzUVW]' --attr-rgx='[a-z_][a-z0-9_]{1,30}$' --variable-rgx='[a-z_A][a-z0-9_]{0,30}|[UVWXYZ]$' --disable=missing-docstring --disable=too-few-public-methods --disable=duplicate-code --notes='FIXME,XXX,###' --max-args=8 --max-attributes=16 --max-public-methods=45 --max-locals=25 --max-attributes=16 --generated-members=torch.* conmech/
